<p>product works!</p>

<div class="product-view">
  <div class="images" *ngIf="product.images.length">
    <div class="main-image">
      <img src="{{product.images[0]}}" alt=""/>
    </div>
    <ul class="images-list">
      <li class="image" *ngFor="let img of product.images">
        <img src="{{img}}" alt=""/>
      </li>
    </ul>
  </div>
  <div class="main-info">
    <div class="article">
      <b>Article: </b>
      {{product.id}}
    </div>
    <div class="name">
      <b>Name: </b>
      {{product.name}}
    </div>
    <div class="price">
      <b>Price: </b>
      {{product.price}}
      &nbsp;&nbsp;&nbsp;
      <span *ngIf="product.priceOrigin">
        {{product.priceOrigin}}
      </span>
    </div>
    <div class="buying-form">
      <input [(ngModel)]="buyingAmount" type="text" />
      <button type="button" (click)="onBuying()">Buy</button>
    </div>
    <div class="description">
      <b>Description: </b>
      {{product.description}}
    </div>
  </div>
</div>
