.product-view {
  display: flex;
  justify-content: space-between;

  .images {
    flex: 1 1 50%;
    max-width: 400px;
    margin-right: 20px;

    .main-image {
      border: 2px solid #ccc;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 20px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    .images-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      width:100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .image {
        list-style-type: none;
        flex: 0 0 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #ccc;

        img{
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  .main-info {
    flex: 1 1 50%;
  }

}
