<p>
  catalog-list works!
</p>

<div><b>Категории</b></div>
<ul>
  <li *ngFor="let cat of categoriesList">
    <a routerLink="/catalog/c/{{cat.id}}">{{cat.name}}</a>
  </li>
</ul>

<div>
  <div><b>Список товаров категории.</b></div>
  <ul class="products-list">
    <li class="product" *ngFor="let product of products">
      <a class="image" routerLink="/catalog/p/{{product.id}}">
        <img *ngIf="product.images.length" src="{{product.images[0]}}" alt=""/>
      </a>
      <a class="image" routerLink="/catalog/p/{{product.id}}"></a>
    </li>
  </ul>
</div>
