.products-list{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  .product{
    flex: 1;
    list-style-type: none;
    height:300px;
    width:200px;

    .image{
      width:200px;
      height:200px;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;


      img{
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}
